
:root.theme-light {
    --bg-image: url("../images/cover-image-light.png");
    --rec-display: none;
    --bg-color: rgb(255 241 247 / 1);
    --slogan-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --color-main-text: rgba(53, 52, 48, 1);
    --color-title-text: rgba(53, 52, 48, 1);
    --color-mini-title: rgba(53, 52, 48, 1);
    --button-color: rgba(53, 52, 48, 1);
    --button-color-active: rgba(53, 52, 48, 1);
    --button-color-hover: rgba(50, 49, 45, 0.4);
    --button-color-focus: rgba(53, 52, 48, 1);
    --decorated-element: rgba(53, 52, 48, 1);
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-image: url("../images/cover-image-light.png");
        --rec-display: none;
        --bg-color: rgb(255 241 247 / 1);
        --slogan-color: rgba(255, 194, 230, 1);
        --accent-color: rgba(255, 141, 203, 1);
        --color-main-text: rgba(53, 52, 48, 1);
        --color-title-text: rgba(53, 52, 48, 1);
        --color-mini-title: rgba(53, 52, 48, 1);
        --button-color: rgba(53, 52, 48, 1);
        --button-color-active: rgba(53, 52, 48, 1);
        --button-color-hover: rgba(50, 49, 45, 0.4);
        --button-color-focus: rgba(53, 52, 48, 1);
        --decorated-element: rgba(53, 52, 48, 1);
    }
}
