/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--bg-color);
    
}

.header {
    height: 100vh;
    min-height: 668px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(3, 1fr);
    padding: 10px;
    align-content: space-between;
    /*
    нужно ли align-content: space-between; проверить в конце
     */
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    inline-size: 25px;
    block-size: 25px;
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    inline-size: 25px;
    block-size: 25px;
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
}

/*.header__decorated-indicator {
    display: flex;
    justify-content: end;
    position: relative;
    grid-row: 1;
}
 */

.header__rec-indicator {
    color: var(--accent-color);
    font-weight: var(--fw-regular);
    position: absolute;
    width: 33px;
    height: 26px;
    top: 10px;
    right: 38px;
    font-size: 18px;
    line-height: 25px;
}

.header__rec-indicator::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
    top: 8px;
    right: -19px;
    
    /* Уважаемый ревьюер, возможно, код выше окажется немного
    неправильным. Честно скажу, пыталась сделать "по значениям из
    макета", но у меня ничего не вышло. Абсолютные элементы прыгали
    во все стороны, не "видели" паддинги. Я их уже объединяла в контей-
    неры и пыталась ровнять с помощью флексов.
    В общем, честно, я пыталась, но в конечном итоге, я их просто
    подогнала. Буду благодарна, если сможете подсветить мне, как
    правильно нужно было написать код для этих псевдоэлементов.
    Кажется, что он мог быть изящнее.
    Заранее спасибо!))))
     */
}

.header__theme-menu {
    justify-self: end;
    align-self: center;
}

.slogan {
    color: var(--slogan-color);
    /* font-family: "IBM Plex mono", monospace, Monaco;
    перенесла в глобальные стили
     */
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: var(--fw-bold);
    line-height: 83%;
    /*  не забудь откорректировать размеры шрифта  для адаптивности!!! */
    align-self: center;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.title {
    align-self: center;
    font-size: var(--fs-regular-text); /* фикс т к во всех версиях единый размер*/
    line-height: var(--lh-regular-text);
    font-weight: var(--fw-bold);
    /* нужно потом посмотреть. Блок стоит по центру правильно,
    но слова переносятся по другому. Из-за этого в ПП не сходится*/
}

.title-decor  {
    background-color: var(--accent-color);
    color: var(--color-title-text);
  /*  font-weight: var(--fw-bold);
  
   */
    display: inline;
}

.content {
    display: grid;
    gap: 20px;
    padding-inline: 10px;
    margin-bottom: 50px;
    
}

.content:first-child {
    margin-top: 40px;
}

.content:last-child {
    margin-bottom: 40px;
}
.content_title {
    color: var(--accent-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular-text);
    line-height: var(--lh-regular-text);
}
.content_group_cards {
    display: grid;
    gap: 20px;
}

.content_card {
    display: grid;
    gap: 10px;
    font-size: var(--fs-regular-text);
    line-height: var(--lh-regular-text);
    
}
.content_card_title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular-text);
    line-height: var(--lh-regular-text);
}
.content_card_text {
    font-weight: var(--fw-regular);
    color: var(--color-main-text);
}
.title-decor_another {
font-weight: var(--fw-regular);
}

.text_link {
    text-decoration: none;
    text-shadow: 2px 1px 0 var(--accent-color);
    cursor: pointer; /* возможно потом нужно перенести в фокусное
    состояние и отсюда убрать*/
}